@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    color: black(250, 250, 250);
    user-select: none;
    margin: 0;
    /* background-color: black; */
    padding: 0;
    background-repeat: repeat;
    background-size: cover;
}

.img{
    text-align: center;
    align-items: center;
    justify-content: center;
}

#info{
    display: flex;
    color:white ;
}
#about{
    background-repeat: no-repeat;
    background-size: cover;
}
#upper {
    width: auto;
    height: 350px;
    text-align: left;
    background-color: transparent;
    padding: 60px;
    
    background-attachment: fixed;
    background-image: url(darth.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#upper button {
    padding: 15px;
    margin: 5px;

    background-color: white;
    border: 0px solid;
    border-radius: 50px;
    box-shadow: 0px 0px 5px 0px black;
}

#upper input {
    width: 80%;
    background-color: white;
    padding: 15px;
    margin: 5px;
    border: 0px solid;
    border-radius: 50px;
    font-size: 17px;
    box-shadow: 0px 0px 5px 0px black;
}

#discover {

    
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 20px;
    background-color: transparent;
    grid-template-columns: repeat(auto-fit,400px);
}

#class {
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    height: 10px;
    
    border: 0px solid;
    border-radius: 5px;
    
}

#class:hover {
    filter: opacity(0px);
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    
    border: 0px solid;
    border-radius: 5px;
    
}

img {
    margin: 10px;
    width: 300px;
    
    border: 0px solid;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

img:hover {
    filter: opacity(80%);
    border: 0px solid;
    border-radius: 10px;
}

#logo{
border-radius:50%;
width:100px;
height:100px;
margin-left:auto;
margin-right:auto;
background-color:aqua;
}
